
<div class="container mt-5 py-5">
  <div class="card mb-3 " style="max-width: 1050px; margin: auto">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/imagen/Pagina web (1)-09.png" class="img-fluid rounded-start" alt="ventas">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Equipo de Ventas</h5>
          <p>El equipo de ventas, o equipo comercial, es el departamento responsable por alcanzar las metas en ventas y ganancias de una organización; lo que significa que constituyen un enlace directo entre los productos y está conformado por:</p>
          <ul >
            <li *ngFor="let item of listaVentas">
              {{item}}
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 1050px; margin: auto">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/imagen/Pagina web (1)-11.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Diseñadores UX y UI</h5>
          <p>El profesional que se encargue del UI se centrará en el diseño del producto, impactando en la primera impresión visual del usuario, algo que determina si nuestra web o aplicación es de su gusto, mientras que el encargado del UX se orienta en la usabilidad y facilidad de navegación.</p>
          <ul >
            <li *ngFor="let item of listaDiseno">
              {{item}}
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 1050px; margin: auto">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/imagen/Pagina web (1)-10.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Programadores</h5>
          <p>Los programadores son individuos encargados de programar “códigos”, es decir, se encargan de realizar la escritura del código a través de la utilización de un lenguaje de programación (Java, Python, PHP, etc). </p>
          <ul >
            <li *ngFor="let item of listaProgra">
              {{item}}
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>


</div>










<!--<div class="bg-black py-5 mt-3">-->
<!--<div class="container mx-auto p-1">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-8">-->
<!--      <div class="card card-cover h-100 overflow-hidden bg-black rounded-4 shadow-lg">-->
<!--        <div class="d-flex flex-column h-100 text-white text-shadow-1">-->
<!--          <img src="/assets/imagen/Pagina%20web%20(1)-09.png" alt="disenador">-->
<!--          <h4 > Dise;adores-->
<!--            <ul>-->
<!--              <li *ngFor="let item of lista">-->
<!--                {{item}}-->
<!--              </li>-->
<!--            </ul>-->
<!--          </h4>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--      <div class="row gap-2 pb-3">-->
<!--        <div class="card card-cover h-100 overflow-hidden bg-black rounded-4 shadow-lg">-->
<!--          <div class="d-flex flex-column h-100 text-white text-shadow-1">-->
<!--            <img src="/assets/imagen/Pagina%20web%20(1)-10.png" height="325" alt="programador" >-->
<!--            <h4 class="display-6 lh-1 fw-bold text-sm-end" [innerText]="titleProg"></h4>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row gap-2">-->
<!--        <div class="card card-cover h-100 overflow-hidden bg-black rounded-4 shadow-lg">-->
<!--          <div class="d-flex flex-column h-100 text-white text-shadow-1">-->
<!--            <img src="/assets/imagen/Pagina%20web%20(1)-11.png" height="325" alt="fotografo" >-->
<!--            <h4 class="display-6 lh-1 fw-bold text-sm-end" [innerText]="titleFoto"></h4>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-12 pb-5">-->
<!--  <div class="container mx-auto p-5">-->

<!--    <div class="row featurette">-->
<!--      <div class="col-md-6">-->
<!--        <h1 class="featurette-heading fw-normal lh-1 ">Acerca de <span class="featurette-heading fw-normal text-warning">Nosotros.</span></h1>-->
<!--      </div>-->
<!--      <div class="col-md-6  text-sm-end ">-->
<!--        <span>Nuestra gran trayectoria nos ha permitido colocarnos en los puestos más altos en Servicios Multimedia y Audiovisuales.</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



<!--  <div class="container p-3 align-items-center text-center">-->
<!--    <div class="row ">-->
<!--      <div class="col-lg-4 col-md-12 col-sd-12 pt-3">-->
<!--        <h2>PROMOAUTO</h2>-->
<!--        <p>Agradezco a MAXIMEDIA por su trabajo realizado, su calidad y eficiencia es muy bueno. Nos sentimos satisfechos de sus servicios.</p>-->

<!--          <img src="/assets/imagen/Pagina%20web%20(1)-12.png" class="d-block mx-auto" width="200" height="40" alt="estrellas">-->

<!--      </div>-->
<!--      <div class="col-lg-4 col-md-12 col-sd-12 pt-3">-->
<!--        <h2>BLUE - MEDIC</h2>-->
<!--        <p>La calidad de las fotografías fue de acuerdo a lo solicitado, buenos planos y muy creativos. Nos sentimos satisfechos de sus servicios.</p>-->

<!--        <img src="/assets/imagen/Pagina%20web%20(1)-12.png" class="d-block mx-auto" width="200" height="40" alt="estrellas">-->

<!--      </div>-->
<!--      <div class="col-lg-4 col-md-12 col-sd-12 pt-3">-->
<!--        <h2>PESCATECH</h2>-->
<!--        <p>Excelente trabajo, rápidos y muy creativos.su calidad y eficiencia es muy bueno. Nos sentimos satisfechos de sus servicios.</p>-->

<!--        <img src="/assets/imagen/Pagina%20web%20(1)-12.png" class="d-block mx-auto" width="200" height="40" alt="estrellas">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--</div>-->


